
.loading {
 font-size: 30px;
 color: rgb(34, 0, 255)
}

.title { 
    font-size: 20px;
    color :rgb(0, 255, 179)
}

button {
    color: #ffffff;
    font-size:17px;
    background: #cb02d2;
    border: 0;
    padding: 0px 20px;
    margin: 20px auto;
    border-radius: 8px;
    cursor: pointer;
  }